@page "/"

<PageTitle>Index</PageTitle>

<h1 class="page-title">Movie Catalogue - SoPro springboard assesment</h1>

<br />

<h3>Using this application we can view and manage a collection of movies, their ratings, genre, directors, actors.</h3>